<footer class="py-4 py-md-6">
    <div class="container d-flex align-items-center flex-wrap">
        <p class="fz-larger me-4">EXHIBINECTION</p>
        <p>© 2020. All Rights Reserved.</p>
        <ul class="list-unstyled d-flex align-items-center ms-auto">
            <li class="me-6 d-none d-md-block">
                <a href="#" class="link-secondary">Sign in</a>
            </li>
            <li class="d-none d-md-block">
                <a href="#" class="link-secondary">Sign up</a>
            </li>
        </ul>
    </div>
</footer>