<header class="navbar navbar-expand-lg navbar-light border-bottom border-secondary">
  <div class="container position-relative">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuList">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand position-absolute top-50 start-50 translate-middle ">
      <a href="index.html" class="fz-large fz-md-larger text-center text-primary"> EXHIBINECTION </a>
    </h1>
    <a class="nav-link px-4 position-relative order-lg-3 pt-4" href="#" data-bs-toggle="offcanvas"
      data-bs-target="#carts">
      <i class="material-icons">confirmation_number</i>
      <span class="position-absolute top-15 start-75 translate-middle badge rounded-pill bg-primary-light">3</span>
    </a>
    <div class="collapse navbar-collapse ">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link px-4 text-secondary" href="#">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 text-secondary" href="#">Sign up</a>
        </li>
      </ul>
    </div>

  </div>

</header>