.img { 
    object-fit: cover;
    width: 100%;
    // index.html
    &__product {
      height: 345px;
      @include media-breakpoint-up(md) {
        height: 350px;
      }
    }
   
  }